html {
  background-color: #171717;
  color: #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  min-height: 100svh;
  display: flex;
  justify-content: center;
}
a {
  color: inherit;
}
#app {
  text-align: center;
}
button {
  padding: 0.5rem 2rem;
  font: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-inline: 0;
  margin-bottom: 5rem;
  text-align: center;
}
.logo {
  height: 40px;
  width: auto;
  margin-inline: 1rem;
}
#loading-indicator:not(.hide) {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: fixed;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}
#loading-indicator::after {
  content: "";
  width: 96px;
  height: 4.8px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 1s linear infinite alternate;
}
@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
.hide {
  display: none;
}
